@import "leybold";

$leybold-input-default-color: #333;
$leybold-btn-red-color: $leybold-color-red;
$leybold-btn-gray-color: $leybold-color-gray-2;
$leybold-btn-default-color: $leybold-btn-gray-color;
$leybold-btn-primary-color: $leybold-color-red;
$leybold-radio-default-color: $leybold-color-green-gray;
$leybold-checkbox-default-color: $leybold-color-green-gray;

$leybold-body-background-color: #fff;
$leybold-text-red: $leybold-color-red;
$leybold-text-error-color: $leybold-color-red;
$leybold-link-color-default: #7c94a6;
$leybold-link-hover-color-red: $leybold-color-red;
$leybold-text-default-color: #333;
