$leybold-color-logo-red: #E30613;
$leybold-color-red: #e2001a;
$leybold-color-gray-1: rgb(218, 224, 227);
$leybold-color-gray-2: rgb(153, 161, 171);
$leybold-color-gray-3: rgb(84, 102, 114);
$leybold-color-gray-4: rgb(74, 78, 84);

$leybold-color-blue: rgb(43, 70, 121);
$leybold-color-light-blue: rgb(63, 106, 152);
$leybold-color-blue-green: rgb(57, 120, 142);
$leybold-color-green-gray: rgb(109, 143, 159);

$leybold-color-purple: rgb(115, 45, 96);
$leybold-color-purple-gray: rgb(148, 94, 103);
$leybold-color-orange: rgb(209, 142, 86);
$leybold-color-yellow: rgb(237, 209, 99);
